.add-budget-form-container {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: lightsteelblue;
}

/* .add-budget-select {
    display: flex;
    flex: 0;
    margin: 2%;
} */

.add-budget-form {
    display: flex;
    margin: 2%;
    flex-basis: 30%;
}

.amount-input, .desc-input {
    margin: 3%;
    padding: 2%
}

.add-income-btn, .add-expense-btn {
    color: white;
    font-size: 1.4rem;
    width: 100%;
    margin: 3%;
    padding: 2%;
}

.add-income-btn {
    background-color: rgb(34, 139, 34);
}

.add-expense-btn {
    background-color: rgb(178, 34, 34);
}

.add-income-btn:hover {
    color: rgb(34, 139, 34);
    background-color: white;
}

.add-expense-btn:hover {
    color: rgb(178, 34, 34);
    background-color: white;
}