* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.table-container {
  display: flex;
  flex-direction: row;
  border: 1px solid gold;
  justify-content: center;
}
