.live-update-display {
  height: 200px;
  background: url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f24b4a7bf9f24d1ba5f899339e6949f3') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

.live-update-h4 {
  margin: auto;
  background-color: forestgreen;
  font-size: 1.2rem;
}

.live-update-income {
  background-color: seagreen;
  margin: auto;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.live-update-expense {
  background-color: firebrick;
  margin: auto;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}


/* TABLES */
/* .income-table-container, .expense-table-container {
  border: 1px solid black;
  display: table-row;
} */
